[submodule "lualibs/kahlua"]
	path = lualibs/kahlua
	url = git@github.com:LankyCyril/kahlua.git
[submodule "luajit"]
	path = luajit
	url = https://github.com/openresty/luajit2
[submodule "lualibs/effil"]
	path = lualibs/effil
	url = https://github.com/effil/effil
[submodule "lualibs/argparse"]
	path = lualibs/argparse
	url = https://github.com/luarocks/argparse
[submodule "lualibs/ipc"]
	path = lualibs/ipc
	url = https://github.com/siffiejoe/lua-luaipc
[submodule "lualibs/lua-mpi"]
	path = lualibs/lua-mpi
	url = https://github.com/jzrake/lua-mpi
